

deepConvolutional {
        block {
            activation : RELU
            num_filters: 16
            kernelH: 3
            kernelW: 3
        }
        block {
            activation: NONE
            num_filters: 16
            kernelH: 3
            kernelW: 3
        }
        outputConfig {
            output : VALUE
            num_actions: 2
        }
}

name_scope: "test"
