
model{
    name_scope: "model"
    deepQModel  {

        buffer {
            experienceReplayBuffer {

            }

            bufferSize: 1024
        }

        sarsa {
            normalizeReward : false
        }

        improve_target_modulo: 128
        iterations_of_improvement: 4
        batch_size: 64

    }

    agent {
        name_scope: "agent"
        deepQAgent  {
            tgt_network{
                deepDense {
                        block {
                            activation: RELU
                            num_units: 80
                        }
                        block {
                            activation: RELU
                            num_units: 32
                        }
                }

                name_scope: "Target"
                optimizer: AdamOptimizer

                value {
                    num_actions: 2
                }
            }

            policy{
                deepDense {
                    block {
                        activation: RELU
                        num_units: 80
                    }
                    block {
                        activation: RELU
                        num_units: 32
                    }
                }

                name_scope: "Policy"

                value {
                    num_actions: 2
                }
            }

            epsilon {
                initial_value: 1.0
                min_value: 0.1
                decay_steps: 1000
                decay_rate: 0.96
            }
        }

        discount_factor: 0.95
    }

    improve_policy_modulo: 256
    steps_for_act_iter: 64
}

environment {
    gymEnvironment {
        name: "CartPole-v0"
    }
}

checkpoint_freq_sec: 70
checkpoint_dir_path: "/tmp/dqn_ckpt"
checkpoint_file_prefix: "dqn"
info_log_frequency: 500
average_smoothing: 0.7
run_for_steps: 100000000
