
model{
    name_scope: "model"
    deepQModel  {

        buffer {
            experienceReplayBuffer {

            }

            bufferSize: 1024
        }

        sarsa {
            #normalizeReward : false
            normalizeState : false
            normalizeAction: false
        }


        train_target_modulo: 4
        train_iterations: 2

        improve_policy_modulo: 128
        delay_improvement: 100
        batch_size: 64

    }

    agent {
        name_scope: "agent"
        deepQAgent  {
            tgt_network{
                deepDense {
                        block {
                            activation: SIGMOID
                            num_units: 4
                        }

                }

                name_scope: "Target"
                optimizer: AdamOptimizer
                learning_rate : 0.01

                value {
                    num_actions: 2
                }
            }

            policy{
                deepDense {
                    block {
                        activation: SIGMOID
                        num_units: 4
                    }
                }

                name_scope: "Policy"

                value {
                    num_actions: 2
                }
            }

            epsilon {
                initial_value: 0.7
                min_value: 0.1
                decay_steps: 10
                decay_rate: 0.8
            }
        }

        discount_factor: 0.99
    }
}

environment {
    gymEnvironment {
        name: "CartPole-v0"
    }
}

checkpoint_freq_sec: 70
checkpoint_dir_path: "/tmp/dqn_ckpt"
checkpoint_file_prefix: "dqn"
info_log_frequency: 3
average_smoothing: 0.7
improve_for_steps: 100000000
