
model{
    name_scope: "model"
    deepQModel  {

        buffer {
            experienceReplayBuffer {

            }

            bufferSize: 16
        }

        sarsa {

        }

        improve_target_modulo: 12
        iterations_of_improvement: 2
        batch_size: 2

    }

    agent {
        name_scope: "agent"
        deepQAgent  {
            tgt_network{
                deepDense {
                        block {
                            activation : RELU
                            num_units: 16
                        }
                        block {
                            activation: NONE
                            num_units: 16
                        }
                }

                name_scope: "Target"
                optimizer: AdamOptimizer

                value {
                    num_actions: 2
                }
            }

            policy{
                deepDense {
                        block {
                            activation : RELU
                            num_units: 16
                        }
                        block {
                            activation: NONE
                            num_units: 16
                        }
                }

                name_scope: "Policy"
                optimizer: AdamOptimizer

                value {
                    num_actions: 2
                }
            }

            epsilon: 0.7
        }

        discount_factor: 0.99
    }


    steps_to_run_for: 10
    improve_policy_modulo: 24
    steps_for_act_iter: 12
}

environment {
    gymEnvironment {
        name: "CartPole-v0"
    }
}

checkpoint_freq_sec: 70
checkpoint_dir_path: "/tmp/dqn_ckpt"
checkpoint_file_prefix: "dqn"

run_for_steps: 100
