

deepConvolutional {
        block {
            activation : RELU
            num_filters: 16
            kernelH: 3
            kernelW: 3
        }
        block {
            activation: NONE
            num_filters: 16
            kernelH: 3
            kernelW: 3
        }
}

name_scope: "test"
optimizer: AdamOptimizer

value {
    num_actions: 2
}
